/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";


//Variables
$color1: #000;
$color2: #fff;

$sizeValue: 14;
$line: $sizeValue * 1.5;

$font1: 'Raleway', sans-serif;
$font2: 'Poiret One', cursive;

//Mixins

@mixin myfont-size($sizeValue, $line) {
    font-size: ($sizeValue) + px;
    line-height: ($line) + px;
    font-size: ($sizeValue / 16) + rem;
    line-height: ($line / 16) + rem;
}



html {
    font-family: $font1;
    font-weight: 400;
}

h1 {

  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

h1, h2, h3 {
  margin-bottom: 10px;
  margin-top: 20px;
  font-family: $font2;
}

p, ul {
  @include myfont-size($sizeValue, $line);
  margin: 0 0 10px;
}

ul {
  a {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

a {
  text-decoration: none;

  &:active {
    outline: none;
  }
}

img {
  width: 100%;
  height: auto;
}

footer {
  padding-top: 20px;
  border-top: 1px solid $color1;

  .row {
    padding-bottom: 20px;
  }

  .col-md-6, .col-md-3 {
    padding-bottom: 20px;
  }
}

.mylogo {

  padding: 10px 0px;
  img {
    //display: none;
    width: 100%;
    height: auto;
    max-width: 180px;
  }
}

.mybutton {
  background-color: $color1;
  border-radius: 0px;
  border: none;


   &:focus, &:hover, &:active {
    background-color: $color1 !important;
    border: none;
  }
}

.headwrap {
  background-color: $color2;
  margin: 0px;  
}

.mynavy, .open {

  a {
    color: $color1;
    &:hover {
      color: $color1;
      background-color: #fff !important;
      border-color: $color1 !important;
    }
    &:focus, &:active {
      border: none;
      border-color: $color1 !important;
      background-color: #fff !important;
    }

  }

}

.dropdown-menu {
    background-color: $color2;
    padding: 0px;
    border: none;
    border-radius: 0px;

    a {
      color: $color1 !important;

      &:hover {
        color: $color1 !important;
        border-bottom: none;
      }
    }

  }


.icon-bar {

  background-color: $color1;
}

.myhero {
  border-radius: 0px;
  background-color: $color2;
  padding-top: 65px;
  position: relative;
  overflow: hidden;


  h1 {
    margin-bottom: 10px;
    color: $color1;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
  }

  p {
    font-size: 16px;
  }
}

.butwrap {

  padding: 10px;
  background: rgba(255,255,255,0.8);

  button {
    margin-bottom: 10px;
  }

  //width: 400px; height: 400px; -moz-border-radius: 200px; -webkit-border-radius: 200px; border-radius: 200px;
}

.slidebox {

  padding-bottom: 20px;
  display:none;

  h3 {
    text-align: center;
    min-height: 50px;
  }

  p {
    min-height: 125px;
  }
}

.color1 {
  background-color: $color1;
}

.navbar-brand {
  margin-left: 0px !important; 
}

.mapWrap {
  overflow: hidden;
  padding-bottom: 75%;
  position: relative;

  iframe {
    height: 100% !important;
    left: 0;
    position: absolute;
    top: 0;
    width: 100% !important;
  }
}

.subFooter {
  padding: 10px 0;
  border-top: 1px solid $color1;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px ) { 

  /* .mylogo {
  //background-color: $color2;
  padding: 10px;

  img {
    display: block;

  }

 } */

 .mynavy, .open {
   a {
     
     &:hover, &:focus, &:active {
       border-bottom: 1px solid $color1;
     }

   }

 }

 .myhero {
  //margin: 0 20px;
    h1 {
      margin-bottom: 20px;
      font-size: 30px;
    }

    h2 {
      padding-bottom: 10px;
    }
    p {
      padding-bottom: 20px;
    }
 }

 .butwrap {
   position: absolute;
   bottom: 25%;
 }

}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

  .myhero {
    h1 {
      font-size: 40px
    }
  }

  .butwrap {
    padding: 20px;
  }

 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
