/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 30, ../sass/screen.scss */
html {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

/* line 35, ../sass/screen.scss */
h1 {
  font-size: 30px;
}

/* line 40, ../sass/screen.scss */
h2 {
  font-size: 25px;
}

/* line 44, ../sass/screen.scss */
h3 {
  font-size: 20px;
}

/* line 48, ../sass/screen.scss */
h1, h2, h3 {
  margin-bottom: 10px;
  margin-top: 20px;
  font-family: "Poiret One", cursive;
}

/* line 54, ../sass/screen.scss */
p, ul {
  font-size: 14px;
  line-height: 21px;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  margin: 0 0 10px;
}

/* line 60, ../sass/screen.scss */
ul a {
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* line 66, ../sass/screen.scss */
a {
  text-decoration: none;
}
/* line 69, ../sass/screen.scss */
a:active {
  outline: none;
}

/* line 74, ../sass/screen.scss */
img {
  width: 100%;
  height: auto;
}

/* line 79, ../sass/screen.scss */
footer {
  padding-top: 20px;
  border-top: 1px solid #000;
}
/* line 83, ../sass/screen.scss */
footer .row {
  padding-bottom: 20px;
}
/* line 87, ../sass/screen.scss */
footer .col-md-6, footer .col-md-3 {
  padding-bottom: 20px;
}

/* line 92, ../sass/screen.scss */
.mylogo {
  padding: 10px 0px;
}
/* line 95, ../sass/screen.scss */
.mylogo img {
  width: 100%;
  height: auto;
  max-width: 180px;
}

/* line 103, ../sass/screen.scss */
.mybutton {
  background-color: #000;
  border-radius: 0px;
  border: none;
}
/* line 109, ../sass/screen.scss */
.mybutton:focus, .mybutton:hover, .mybutton:active {
  background-color: #000 !important;
  border: none;
}

/* line 115, ../sass/screen.scss */
.headwrap {
  background-color: #fff;
  margin: 0px;
}

/* line 122, ../sass/screen.scss */
.mynavy a, .open a {
  color: #000;
}
/* line 124, ../sass/screen.scss */
.mynavy a:hover, .open a:hover {
  color: #000;
  background-color: #fff !important;
  border-color: #000 !important;
}
/* line 129, ../sass/screen.scss */
.mynavy a:focus, .mynavy a:active, .open a:focus, .open a:active {
  border: none;
  border-color: #000 !important;
  background-color: #fff !important;
}

/* line 139, ../sass/screen.scss */
.dropdown-menu {
  background-color: #fff;
  padding: 0px;
  border: none;
  border-radius: 0px;
}
/* line 145, ../sass/screen.scss */
.dropdown-menu a {
  color: #000 !important;
}
/* line 148, ../sass/screen.scss */
.dropdown-menu a:hover {
  color: #000 !important;
  border-bottom: none;
}

/* line 157, ../sass/screen.scss */
.icon-bar {
  background-color: #000;
}

/* line 162, ../sass/screen.scss */
.myhero {
  border-radius: 0px;
  background-color: #fff;
  padding-top: 65px;
  position: relative;
  overflow: hidden;
}
/* line 170, ../sass/screen.scss */
.myhero h1 {
  margin-bottom: 10px;
  color: #000;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 178, ../sass/screen.scss */
.myhero p {
  font-size: 16px;
}

/* line 183, ../sass/screen.scss */
.butwrap {
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
}
/* line 188, ../sass/screen.scss */
.butwrap button {
  margin-bottom: 10px;
}

/* line 195, ../sass/screen.scss */
.slidebox {
  padding-bottom: 20px;
  display: none;
}
/* line 200, ../sass/screen.scss */
.slidebox h3 {
  text-align: center;
  min-height: 50px;
}
/* line 205, ../sass/screen.scss */
.slidebox p {
  min-height: 125px;
}

/* line 210, ../sass/screen.scss */
.color1 {
  background-color: #000;
}

/* line 214, ../sass/screen.scss */
.navbar-brand {
  margin-left: 0px !important;
}

/* line 218, ../sass/screen.scss */
.mapWrap {
  overflow: hidden;
  padding-bottom: 75%;
  position: relative;
}
/* line 223, ../sass/screen.scss */
.mapWrap iframe {
  height: 100% !important;
  left: 0;
  position: absolute;
  top: 0;
  width: 100% !important;
}

/* line 232, ../sass/screen.scss */
.subFooter {
  padding: 10px 0;
  border-top: 1px solid #000;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* .mylogo {
  //background-color: $color2;
  padding: 10px;

  img {
    display: block;

  }

 } */
  /* line 255, ../sass/screen.scss */
  .mynavy a:hover, .mynavy a:focus, .mynavy a:active, .open a:hover, .open a:focus, .open a:active {
    border-bottom: 1px solid #000;
  }

  /* line 265, ../sass/screen.scss */
  .myhero h1 {
    margin-bottom: 20px;
    font-size: 30px;
  }
  /* line 270, ../sass/screen.scss */
  .myhero h2 {
    padding-bottom: 10px;
  }
  /* line 273, ../sass/screen.scss */
  .myhero p {
    padding-bottom: 20px;
  }

  /* line 278, ../sass/screen.scss */
  .butwrap {
    position: absolute;
    bottom: 25%;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* line 290, ../sass/screen.scss */
  .myhero h1 {
    font-size: 40px;
  }

  /* line 295, ../sass/screen.scss */
  .butwrap {
    padding: 20px;
  }
}
/* Large devices (large desktops, 1200px and up) */
